<form >
  <label>
    Nom de l'hotel
    <input  type="text">
    Nombre de chambre
    <input type="number">
    piscine
    <input type="checkbox">
  </label>
  <button type="submit"> envoyer</button>
</form>
