<table class="table table">
  <thead class="thead-dark">
  <tr>
    <th>Name Hotel</th>
    <th>Room Numbers</th>
    <th>Pool</th>
    <th>Details</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let hotel of hostels">
    <td>{{hotel.name}}</td>
    <td>{{hotel.roomNumbers}}</td>
    <td>{{hotel.pool}}</td>
    <td> <a [routerLink]="hotel.id"> details</a> </td>
    <td> <a [routerLink]="hotel"></a>edit</td>
    <td> <a [routerLink]="hotel"></a> delete</td>
  </tr>
  </tbody>
</table>
